<center><h1> Add Todo</h1></center>

<% if @invalid_title_error == true %>
  <font color="red"><b><%= @todo.todo_title_error %></b></font>
  <br>
  <br>
<% end %>

<% if @duplicate_title_error == true %>
  <font color="red"><b><%= @todo.todo_title_already_exists_error %></b></font>
  <br>
  <br>
<% end %>
  <% if @todo_added_notice == true %>
    <font color="green"><b>Todo added!</b></font>
    <br>
    <br>
  <% end %>
  <form  method="POST" action="/users/user/<%= @current_user.id %>/todos/create/confirmation">


    Title:&emsp;<input type="text" name="new_title" value="<%= params[:new_title] %>">&emsp;&emsp;&emsp;
    <br>
    <br>
    Assign to:&emsp;<select name="create_user_selection">
    <% @users.each do |user| %>
    <option value="<%= user.id %>"<%= "selected" if user.id.to_s == params[:create_user_selection] %>><%= user.name %></option> 
    <% end %> 
    </select>

    <br>
    <br>
    Include an optional description for your todo task:<br>
    <textarea name="new_description" cols="70" rows="8">
    <%= params[:new_description] %>
    </textarea>
    <br>
    <br>

   <p><input type="submit" value="Create"></p>
   </form>
<br>
<br>
<form  method="GET" action="/users/user/<%= @current_user.id %>/todos">
<input type="submit" value="Finished">
<% if session[:user_id] != nil %> 
  <div align="center">
  <form  method="POST" action="/logout">
  <input type="submit" value="Sign Out">
  </form>
  </div>
<% end %>