<center><h1> Add Todo</h1></center>

  <% if @completed_error == true %>
    <font color="red"><b><%= @todo.todo_completed_error %></b></font>
    <br>
    <br>
  <% end %>

  <form  method="POST" action="/users/user/<%= @current_user.id %>/todos/<%= @todo.id %>/update/confirmation">

  <% if @invalid_title_error == true %>
    <font color="red"><b><%= @todo.todo_title_error %></b></font>
    <br>
    <br>
  <% end %>

  <% if @duplicate_title_error == true %>
    <font color="red"><b><%= @todo.todo_title_already_exists_error %></b></font>
    <br>
    <br>
  <% end %>

  Title:&emsp;<input type="text" name="update_title" value="<%= @todo.title %>">&emsp;&emsp;&emsp;

    <br>
    <br>
    Include an optional description for your todo task:<br>
    <textarea name="update_description" cols="70" rows="8">
    <%= @todo.description %>
    </textarea>
    <br>
    <br>

   <p><input type="submit" value="Update"></p>
   </form>
    