<center><h1> Todo List for <%= @list.title %></h1>
<form  method="GET" action="/lists/list/<%= @list.id %>/todos/create">
You have <b><%= @percentage_done %>%</b> of your assigned tasks completed.&emsp;&emsp;<input type="submit" value="Add Todo"></form>
<br>
<br>

<h3> CURRENT TODOS </h3>
<% if @unfinished_error == true %>
  <%= @current_user.get_no_unfinished_todos_message %> 
<% else %>
  <table border="0">
    <thead>
      <tr>
      <th>COMPLETED</th>
      <th> &emsp;&emsp;</th>
      <th>TODO</th>
      <th> &emsp;&emsp;</th>
      <th>DESCRIPTION</th>
      <th> &emsp;&emsp;</th>
      <th>ASSIGNED TO:</th>
      </tr>
    </thead>
    <tbody>
      <% @unfinished_todos.each do |todo| %>
        <tr>
        <td><form  method="POST" action="/lists/list/<%= @list.id %>/todos/lock">
            <input type="checkbox" name="completed_checkbox[]" value=<%= todo.id %>></td>
        <td>&emsp;&emsp;</td>
        <td><a href="/lists/list/<%= @list.id %>/todos/todo/<%= todo.id %>"><%= todo.title %></a></td>
        <td>&emsp;&emsp;</td>
        <td> <%=todo.description %> </td>
        <td>&emsp;&emsp;</td>
        <td> <%= todo.get_user_name %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <input type="submit" value="COMPLETED"></form>
<% end %>
<br>
<br>
---------------------------------------------------------------------------
<br>
<br>

<h3> COMPLETED TODOS </h3>
<% if @completed_error == true %>
  <%= @current_user.get_no_completed_todos_message %>
<% else %>
  <table border="0">
    <thead>
      <tr>
      <th>TODO</th>
      <th> &emsp;&emsp;</th>
      <th>DESCRIPTION</th>
      <th> &emsp;&emsp;</th>
      <th>ASSIGNED TO:</th>
    </thead>
    <tbody>
      <% @completed_todos.each do |todo| %>
        <tr>
        <td>• <%= todo.title %></td>
        <td>&emsp;&emsp;</td>
        <td> <%=todo.description %> </td>
        <td>&emsp;&emsp;</td>
        <td> <%= todo.get_user_name %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
<% end %>
</center>
  <br>
  <br>