<center><h1> <%= @current_user.name %>'s Todo List</h1>
<form  method="GET" action="/users/user/<%= @current_user.id %>/todos/create">
You have <b><%= @percentage_done %>%</b> of your list completed.&emsp;&emsp;<input type="submit" value="Add Todo"></form>
<br>
<br>

<h3> CURRENT TODOS </h3>
<% if @unfinished_error == true %>
  <%= @current_user.get_no_unfinished_todos_message %> 
<% else %>
  <table border="0">
    <thead>
      <tr>
      <th></th>
      <th> &emsp;&emsp;</th>
      <th></th>
      <th> &emsp;&emsp;</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <% @current_todos.each do |todo| %>
        <tr>
        <td><form  method="POST" action="/users/user/<%= @current_user.id %>/todos/lock">
            <input type="checkbox" name="completed_checkbox[]" value=<%= todo.id %>></td>
        <td>&emsp;&emsp;</td>
        <td><a href="/users/user/<%= @current_user.id %>/todos/<%= todo.id %>/edit"><%= todo.title %></a></td>
        <td>&emsp;&emsp;</td>
        <td> <%=todo.description %> </td>
      <% end %>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <input type="submit" value="COMPLETED"></form>
<% end %>
<br>
<br>
---------------------------------------------------------------------------
<br>
<br>

<h3> COMPLETED TODOS </h3>
<% if @completed_error == true %>
  <%= @current_user.get_no_completed_todos_message %>
<% else %>
  <table border="0">
    <thead>
      <tr>
      <th></th>
      <th> &emsp;&emsp;</th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <% @completed_todos.each do |todo| %>
        <tr>
        <td>• <%= todo.title %></td>
        <td>&emsp;&emsp;</td>
        <td> <%=todo.description %> </td>
      <% end %>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
<% end %>
</center>
  <br>
  <br>